{% extends 'base.html' %}
{% block title %}New enquiry{% endblock %}
{% block content %}


<div class="container">
        <div class="section-heading">
          <h2>New Enquiry</h2>
          <div class="line-dec"></div>
          <span>If you have any quary please contact us.</span>
        </div>
        <div class="row">
          <div class="right-content">
            <div class="container">
              <form id="contact" action="" method="post">
                  {%csrf_token%}
                <div class="row">
                  <div class="col-md-6">
                    <fieldset>
                      <input name="name" type="text" class="form-control"
                        id="name" placeholder="Your name..." required="" />
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="email" type="text" class="form-control"
                        id="email" placeholder="Your email..." required=""  />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                        <fieldset>
                          <input name="phone" type="text" class="form-control" 
                            id="subject" placeholder="phone_no..." required="" />
                        </fieldset>
                    </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input name="question_no" type="text" class="form-control" 
                        id="subject" placeholder="Subject..." required="" />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="quary_more" rows="6" class="form-control"
                        id="message" placeholder="Your message..." required="" ></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">
                        Send Quary
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-heading">
          <h2>Contact us</h2>
          <div class="line-dec"></div>
          <span>If you have any quary please contact us. <h3>+91-62072-96067</h3></span>
          <h1>Dthingz Lab</h1>
            <h2>Development and Training</h2>
             <h2>Kalindi Bhawan,Bali Bagicha</h2>
              <h2>Near Dhoni's House,Harmu
               Ranchi
            (India)</h2>
        </div>
      </div>
{% endblock %}