{%extends 'base.html'%}
{%block title%}home1{%endblock%}
{%block content%}
<h1 class="marquee"> <marquee behavior="altenate" scrollamount="8" onmouseout="start()" onmouseover="stop()" direction="left">This site is comming soonn!..</marquee></h1>
{% if user.is_authenticated %}
<h1 class="other-text">Hi {{ user.username }}!</h1>
{%endif%}
    <section class="gallery-block cards-gallery">
	  <div class="container">
	        <div class="row">
				{%for post in object_list%}
	            <div class="col-md-6 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="{%url 'course_detail' post.pk%}">
	                		<img src="{{post.image.url}}" alt="Course Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="{%url 'course_detail' post.pk%}">{{post.title}}</a></h6>
							<p class="text-muted card-text">{{post.fee}}</p>
							<p class="text-muted card-text">{{post.time}}</p>
							<p class="text-muted card-text">Read More: syllabus,delivery method <br>& training outcome</p>

	                    </div>
	                </div>
				</div>
				{%endfor%}
	        </div>
	    </div>
	</section>
	
	<div> 
            <div>
               <h1 class="heading-box other-text"><u>Features </u></h1>
           </div>
           <div>
               <h1 class="head-box">Instructor Led Live Class Room Training</h1>
               <div class="box-margin">
                   <p class="black">All course modules are designed to 
                       provide in-depth knowledge of the subject.
                        Training program is for the given number of hours.
                   </p>
               </div>
           </div>
           <div>
                <h1 class="head-box">Assignments</h1>
                <div class="box-margin">
                    <p class="black">For each course there will be a number of assignments. Completed assignments has to be uploaded on the website within the stipulated time-frame.Assignments will be evaluated and the marks will be calculated for the final grade.
						</p>
                </div>
            </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
	</script>
	
{%endblock%}